# Node modules
node_modules/

# Local settings
local.settings.json

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Azure Functions
bin/
obj/

# Azurite local storage emulator
__azurite_db_*
__blobstorage__/
__queuestorage__/
AzuriteConfig

# Environment files
.env

# Azure Developer CLI
.azure/
